<div class="col-md-3">
  <div class="text-center">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
  </div>
  <div class="side-bar-wrapper collapse navbar-collapse navbar-ex1-collapse">
    <a href="#" class="logo hidden-sm hidden-xs">
      <i class="icon-map-marker"></i>
      <i class="icon-time"></i>
      <span>Checkin timer</span>
    </a>

    <!--<div class="search-box">-->
      <!--<input type="text" placeholder="SEARCH" class="form-control">-->
    <!--</div>-->
    <ul class="side-menu side-menu-dark-blue">
      <li>
        <a href="<%= dashboard_checkin_now_path %>">
          <i class="icon-map-marker"></i> Check-in Yap
        </a>
      </li>
    </ul>
    <div class="relative-w">
      <ul class="side-menu side-menu-dark-blue">
        <li>
          <a href="<%= dashboard_checkins_path %>">
            <i class="icon-rocket"></i> Checkinlerim
          </a>
        </li>
        <li>
          <a href="<%= dashboard_checkin_schedules_path %>">
            <i class="icon-time"></i> Programlarım
          </a>
        </li>

        <!--<li>-->
          <!--<a href="<%= dashboard_badges_path %>">-->
            <!--<i class="icon-trophy"></i> Rozetlerim-->
          <!--</a>-->
        <!--</li>-->

        <li>
          <a href="<%= dashboard_leaderboard_path %>">
            <i class="icon-group"></i> Skor Tahtam
          </a>
        </li>

      </ul>
    </div>
  </div>
</div>
