<!DOCTYPE html>
<html lang="tr">

<head>

  <meta charset="UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="CheckinTimer ile Foursquare check-inlerinizi günlük, saatlik programlayabilir ve otomatik checkin yapabilirsiniz."/>
  <meta name="keywords" content="otomatik checkin,4sq, foursquare, yerbildirimi, auto checkin, checkintimer"/>
  <meta name="author" content="ycb"/>

  <meta property="og:title" content="CheckinTimer | Otomatik Foursquare Check-in">
  <meta property="og:type" content="website">
  <meta property="og:image" content="http://checkintimer.com/assets/og-fb.png">
  <meta property="og:site_name" content="CheckinTimer | Otomatik Foursquare Check-in">
  <title>CheckinTimer - Otomatik Foursquare Check-In</title>
  <%= csrf_meta_tags %>

  <!-- Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Lato:300,400,500,700%7COpen+Sans:400italic,300,400,700" rel="stylesheet" type="text/css"/>
</head>

<body>

<!-- Header -->
<header>

  <div class="container content">
    <div class="row">
      <div class="header-left-text" style="font-size: 20px;">
        <i class="icon-map-marker"></i> <i class="icon-time"></i> Checkin Timer<br>
      </div>
      <div class="header-right-text">
        <%= link_to "<i class='icon-foursquare'> Foursquare ile giriş yap </i>".html_safe, foursquare_callback_path, :class => "btn btn-primary" %>
      </div>
    </div>
    <h1 id="main-text">OTOMATİK FOURSQUARE CHECK-IN</h1>

    <h3 id="second-text">Mayor olmak artık daha kolay !</h3>
    <% count = Checkin.count.to_i + 1200
       count = count.to_s.rjust(10, "0").split("")
    %>
    <!-- Countdown start -->
    <div id="countdown_dashboard">

      <div class="dash weeks_dash">
        <span class="dash_title"></span>

        <div class="digit">
          <%= count[0] %></div>
        <div class="digit">
          <%= count[1] %></div>
      </div>
      <div class="dash days_dash">
        <span class="dash_title"></span>

        <div class="digit">
          <%= count[2] %></div>
        <div class="digit">
          <%= count[3] %></div>
      </div>
      <div class="dash hours_dash">
        <span class="dash_title"></span>

        <div class="digit">
          <%= count[4] %></div>
        <div class="digit">
          <%= count[5] %></div>
      </div>
      <div class="dash minutes_dash">
        <span class="dash_title"></span>

        <div class="digit">
          <%= count[6] %></div>
        <div class="digit">
          <%= count[7] %></div>
      </div>
      <div class="dash seconds_dash">
        <span class="dash_title"></span>

        <div class="digit">
          <%= count[8] %></div>
        <div class="digit">
          <%= count[9] %></div>
      </div>
      ADET OTOMATİK CHECK-IN YAPILDI !
    </div>
    <!-- Countdown end -->

  </div>
</header>
<!-- End Header -->

<!-- Newsletter Section -->
<section id="newsletter">
  <div class="container content">

    <h2>HEMEN KULLANMAYA BAŞLAYIN</h2>

    <!-- Newsletter Form -->
    <form id="n_letter" class="row" role="form" method="post" name="newsletter" action="newsletter.php">
      <div class="col-lg-12">
        <%= link_to "<i class='icon-foursquare'> Foursquare ile giriş yap </i>".html_safe, foursquare_callback_path, :class => "btn btn-primary btn-lg " %>
      </div>
    </form>
    <!-- End Newsletter Form -->

  </div>
</section>
<!-- End Newsletter Section -->

<!-- Features Section -->
<section id="features">
  <div class="container content">

    <h2>ÖZELLİKLER</h2>

    <div class="row">
      <div class="col-sm-6 col-lg-3 item">
        <i class="icon-foursquare"></i>

        <p> Foursquare hesabınızla hemen bağlanırsınız ve anında istediğiniz yerde check-in yapabilirsiniz .
        </p>
      </div>
      <div class="col-sm-6 col-lg-3 item">
        <i class="icon-map-marker"></i>

        <p> Nerede olursanız olun CheckinTimer ile istediğiniz konumda check-in yapabilir, bu konumlar için bir pgoram
          oluşturabilirsiniz.
        </p>
      </div>
      <div class="col-sm-6 col-lg-3 item">
        <i class="icon-time"></i>

        <p> Check-in programları sayesinde haftanın hergünü, istediğiniz saatte belirlediğiniz konumda check-in
          yaparsınız.
        </p>
      </div>
      <div class="col-sm-6 col-lg-3 item">
        <i class="icon-laptop"></i>

        <p> Check-in yapmak için artık telefonunuza ihtiyacınız yok, bilgisayarınızı kullanarak check-in yapmanın
          zevkini yaşayın. Üstelik ücretsiz !
        </p>
      </div>
    </div>

  </div>
</section>
<!-- End Features Section -->

<!-- End About Section -->
<section id="social">
  <div class="container content">

    <h2>BİZİ TAKİP EDİN</h2>

    <!-- Social Icons -->
    <ul class="social-icon-container">

      <li>
        <a href="https://foursquare.com/user/72639762" target="_blank">
          <img src="/assets/social-icons/foursquare.png" alt=""/>
        </a>
      </li>
      <li>
        <a href="http://facebook.com/checkin.timer" target="_blank">
          <img src="/assets/social-icons/facebook.png" alt=""/>
        </a>
      </li>
      <li>
        <a href="http://twitter.com/checkintimer" target="_blank">
          <img src="/assets/social-icons/twitter.png" alt=""/>
        </a>
      </li>
      <li>
        <a href="http://www.linkedin.com/pub/yigitcan-bacakoglu/51/1a8/790" target="_blank">
          <img src="/assets/social-icons/linkedin.png" alt=""/>
        </a>
      </li>


    </ul>
    <!-- End Social Icons -->

  </div>
</section>

<!-- Locate Section -->
<section id="locate">
  <div class="container content">

    <div id="Gmap"></div>

    <input id="view-map" type="checkbox" class="view-map-selector">

    <div id="view-address-btn">
      <label for="view-map" class="btn">Adresi Göster</label>
    </div>

    <div id="locate-overlay">
      <div class="div-1">
        <div>
          <h2>BİZ NEREDEYİZ?</h2>

          <p>
            Bagdat Cad.<br>
            Suadiye<br>
            Istanbul, Türkiye<br>
          </p>
        </div>
        <div>
          <label for="view-map" class="btn">HARİTA</label>
        </div>
      </div>
    </div>

  </div>
</section>

<section id="social" style="padding:20;">
  <div class="container content">
    <section id="social" style="padding: 0;">
      <div class="container content">
        <!-- Social Icons -->
        <ul class="social-icon-container">
          CheckinTimer - Tüm Hakları Saklıdır &copy; <%= Date.today.year %>
          <a href="mailto:support@checkintimer.com">support@checkintimer.com</a>
          <!--<li>-->
          <!--<a href="https://foursquare.com/user/72639762" target="_blank">-->
          <!--jkö            </a>-->
          <!--</li>-->
          <!--<li>-->
          <!--<a href="http://facebook.com/checkin.timer" target="_blank">-->
          <!--jk            </a>-->
          <!--</li>-->
          <!--<li>-->
          <!--<a href="http://twitter.com/checkintimer" target="_blank">-->
          <!--lö            </a>-->
          <!--</li>-->
          <!--<li>-->
          <!--<a href="http://www.linkedin.com/pub/yigitcan-bacakoglu/51/1a8/790" target="_blank">-->
          <!--ll            </a>-->
          <!--</li>-->


        </ul>
        <!-- End Social Icons -->

      </div>
    </section>
  </div>
</section>
<!-- End Locate Section -->

<a href="#" class="scrollup"></a>

<!-- End Javascripts -->

</body>

</html>
<!-- Localized -->