<!DOCTYPE html>
<html lang="tr">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title><%= content_for?(:title) ? yield(:title) : "Checkintimer" %></title>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag "dashboard/application", :media => "all" %>
  <%= javascript_include_tag "dashboard/application" %>
  <link href=’http://fonts.googleapis.com/css?family=Open+Sans&subset=latin-ext:300italic,400italic,600italic,400,300,600′ rel=’stylesheet’ type=’text/css’>
  <title>CheckinTimer</title>
</head>
<body class="body-dark-linen">

<div class="all-wrapper no-menu-wrapper">
<%= yield %>
</div>

</body>

</html>
<!-- Localized -->