<!DOCTYPE html>
<html>

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">


  <%= stylesheet_link_tag "dashboard/application", :media => "all" %>
  <%= javascript_include_tag "dashboard/application" %>


  <link href=’http://fonts.googleapis.com/css?family=Open+Sans&subset=latin-ext:300italic,400italic,600italic,400,300,600′ rel=’stylesheet’ type=’text/css’>


  <title>CheckinTimer Dashboard</title>
  <script>
      (function (i, s, o, g, r, a, m) {
          i['GoogleAnalyticsObject'] = r;
          i[r] = i[r] || function () {
              (i[r].q = i[r].q || []).push(arguments)
          }, i[r].l = 1 * new Date();
          a = s.createElement(o),
                  m = s.getElementsByTagName(o)[0];
          a.async = 1;
          a.src = g;
          m.parentNode.insertBefore(a, m)
      })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

      ga('create', 'UA-46109639-1', 'checkintimer.com');
      ga('send', 'pageview');

  </script>
</head>

<body class="body-dark-linen">


<div class="all-wrapper">
  <div class="row">
    <%= render :partial => "layouts/dashboard/sidebar" %>
    <div class="col-md-9">
      <div class="content-wrapper">
        <div class="content-inner content-inner-grey">
          <!--Links-->
          <div class="page-header page-header-dark-blue">
            <div class="header-links hidden-xs">
              <a href="#"><i class="icon-user"></i>
                HOŞGELDİN <%= "#{current_user.firstname} #{current_user.lastname}" %></a>
              <%= link_to '<i class="icon-signout"></i> Çıkış'.html_safe, destroy_user_session_path, :method => :delete %>
            </div>
            <%= yield :page_header %>
          </div>

          <div class="main-content">
            <div class="row">
              <%= yield %>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>


</body>

</html>
<!-- Localized -->